Notebooks/.ipynb_checkpoints/*
data/*.csv
data/locators/*
data/spatial/*
data/NCSBE/*Statewide.*
data/NCSBE/*.csv
data/NCSBE/Shapefiles/*
data/NCSBE/address_points_sboe.zip
scratch/*

data/wakeOverview_36x48.pdf

data/orgUnits_wake.xlsx

.spyproject/*
GIS/Index/*
GIS/*.gdb/*
GIS/ImportLog/*

data/WAKE/*
data/DURHAM/*
data/MECKLENBURG/*
data/Census/*
data/CDR/*